<h1>Case Number #{{ case }}</h1>

<form action="{% url 'home' %}" method="get" style = "display:inline;">
    <input style="font-size:100%;" type="submit" value="Return to Homepage">
</form>

<form action="{% url 'add_event' %}" method="get" style = "display:inline;">
    <input style="font-size:100%;" type="submit" value="Add new Events">
</form>

<p>Person's Name: {{ case.name }}</p>
<p>Identity Document Number: {{ case.id_num }}</p>
<p>Date of Birth: {{ case.dob }}</p>
<p>Date of Onset: {{ case.symp_date }}</p>
<p>Date of Case Confirmed: {{ case.confirm_date }}</p>


<h2>Events attended by #{{ case }}</h2>
<ol>
{% for event in case_events_details %}
<li>
    <h3>Event Name: {{ event.name }} </h3>
    <ul>
        <li>Location: {{ event.location }}</li>
        <li>Address: {{ event.address }}</li>
        <li>Y-Coordinate: {{ event.x_coor }}</li>
        <li>X-Coordinate: {{ event.y_coor }}</li>
        <li>Date of Event: {{ event.event_date }}</li>
        <li>Description: {{ event.description }}</li>
    </ul>
</li>
  {% empty %}
    <li>No events visited by case.</li>
{% endfor %}
</ol>
