<h1>Showing all events by {{ case }}</h1>
<form action="{% url 'add_event' %}" method="get">
    <input style="font-size:300%;" type="submit" value="Click to add more Events visited by case">
</form>
<ul>
{% for event in case_events_details %}
  <h3>Event Name: {{ event.name }} </h3>
  <ul>Location: {{ event.location }}</ul>
  <ul>Address: {{ event.address }}</ul>
  <ul>Y-Coordinate: {{ event.x_coor }}</ul>
  <ul>X-Coordinate: {{ event.y_coor }}</ul>
  <ul>Date of Event: {{ event.event_date }}</ul>
  <ul>Description: {{ event.description }}</ul>
  {% empty %}
    <li>No events visited by case.</li>
{% endfor %}
</ul>
