<h1> Input date range to find the SSEs</h1>

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <br><br> <input style="font-size:100%;" type="submit" value="Search">
</form>


<ul>

{% for event in case_events_details %}

  <a href="{% url 'sse_display' event.pk %}"> <h3>Event: {{ event }} </h3> </a>

  <ul>Name: {{ event.name }}</ul>
  <ul>Location: {{ event.location }}</ul>
  <ul>Address: {{ event.address }}</ul>
  
  <hr>
{% empty %}
  <li>No events visited by case.</li>
{% endfor %}
</ul>

<form action="{% url 'home' %}" method="get" style = "display:inline;">
    <input style="font-size:100%;" type="submit" value="Return to Homepage">
</form>