<h1> SSEFinder - Homepage</h1>
<h2> Group R </h1>


<form action="{% url 'sse_list' %}" method="get">
  <input style="font-size:100%;" type="submit" value="Click to View SSEs">
</form>


<form action="{% url 'add_case' %}" method="get" style = "display:inline;">
    <input style="font-size:100%;" type="submit" value="Add a New Case">
</form>

<form action="{% url 'add_event' %}" method="get" style = "display:inline;">
    <input style="font-size:100%;" type="submit" value="Add a New Event">
</form>

{% for case in object_list %}
  <a href="{% url 'case_details' case %}">
    <h4>Case ID: {{ case.case_no }}</h4>
  </a>

  {% empty %}
  <li>No case is recorded</li>
  {% endfor %}


<p>Logged in as {{ user.username }}</p>
<form action="{% url 'logout' %}" method="get">
    <input style="font-size:100%;" type="submit" value="Logout">
</form>