<h1>Showing all the possible infected by event :{{ event }}</h1>
{% for case in infected %}
<ul>
    <a href="{% url 'case_events_details' case %}"><li> Case Number #{{ case.case_no }} </li></a>
  <li> Date of onset of symptoms: {{ case.symp_date }}</li>
</ul>

{% empty %}

    <p><b>No possible infected found</b></p>
{% endfor %}




<h1>Showing all the possible infector by event :{{ event }}</h1>
{% for case in infector %}
<ul>
    <a href="{% url 'case_events_details' case %}"><li> Case Number #{{ case.case_no }} </li></a>
  <li> Date of onset of symptoms:  {{ case.symp_date }}</li>
</ul>

{% empty %}
<p><b>No possible infector found</b></p>
{% endfor %}


